vti_encoding:SR|utf8-nl
vti_author:SR|yuma-PC\\yuma
vti_modifiedby:SR|yuma-PC\\yuma
vti_timelastmodified:TR|29 Oct 2017 15:13:54 -0000
vti_timecreated:TR|29 Oct 2017 15:13:24 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|RTAChecker/login.html
vti_nexttolasttimemodified:TW|29 Oct 2017 15:13:24 -0000
vti_cacheddtm:TX|29 Oct 2017 15:13:54 -0000
vti_filesize:IR|285
