vti_encoding:SR|utf8-nl
vti_author:SR|yuma-PC\\yuma
vti_modifiedby:SR|yuma-PC\\yuma
vti_timelastmodified:TR|28 Oct 2017 19:28:06 -0000
vti_timecreated:TR|23 Oct 2017 15:24:57 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|RTAChecker/index.html
vti_nexttolasttimemodified:TW|28 Oct 2017 19:27:55 -0000
vti_cacheddtm:TX|28 Oct 2017 19:28:06 -0000
vti_filesize:IR|3124
vti_cachedlinkinfo:VX|S|../img/online.png S|../img/offline.png S|../img/icon_twitch.png S|../img/icon_nico.png
vti_cachedsvcrellinks:VX|FSUS|RTAChecker/img/online.png FSUS|RTAChecker/img/offline.png FSUS|RTAChecker/img/icon_twitch.png FSUS|RTAChecker/img/icon_nico.png
